<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revauc.revolutionbuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".RevBuyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.revauc.revolutionbuy.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <activity
            android:name=".ui.auth.SplashActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.walkthrough.WalkThroughActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.EnterAppActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.ForgotPasswordConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.MobilePinVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.MobileVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.auth.CreateProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />

        <activity
            android:name=".ui.auth.ContactAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />

        <activity
            android:name=".ui.settings.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.TermsConditionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.AgeConfirmationActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.AddTitleActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.AddDescriptionActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.AddPhotosActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.adapter.ItemListedActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.AgeAlertActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.PrivacyActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sell.SellerProductLlistingActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.SelectCategoriesActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sell.SellNowActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.BuyerProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.buy.SellerOfferDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.sell.SellerProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.sell.SellerOwnOfferDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.sell.OfferSentActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.ItemPurchasedActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sell.ItemSoldActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sell.ReportItemActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sell.SellerOfferActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.buy.SellerOffersActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


    </application>

</manifest>